
 <!-- Actividad con Estudiante/Ayudante-->
 <div class="row">
  <div class="col-4">
    <div class="row">
      <div class="col text-start">
        <span> {{ hora | date: 'hh:mm' }}
          <span class="cr">
            <span class="point">•</span>
            {{ actividad.nombreActividad }} <span *ngIf="actividad.tiempo > 0" class="ms-1">({{ actividad.tiempo }} mins)</span>
          </span>
        </span>
      </div>

    </div>
  </div>

  <div class="col-2 text-end">
    <small *ngIf="actividad.participantes.length > 1"
            class="subtexto">
      Estudiante/Ayudante:
    </small>
  </div>


  <div class="col-6 aling-items-end text-end">
    <span *ngIf="actividad.participantes.length === 1; else dos " >
      {{ actividad.participantes[0].nombre }}
    </span>
  </div>

  <ng-template #dos>
    <span *ngIf=" actividad.participantes.length === 2">
      {{ actividad.participantes[0].nombre }}/{{ actividad.participantes[1].nombre }}
    </span>
  </ng-template>

</div>
